<ion-view view-title="Gallery">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="../img/3.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        그림
      </a>
      <div class="item item-image">
        <img src="../img/1.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        그림
      </a>
      <div class="item item-image">
        <img src="../img/2.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        그림
      </a>
    </div>
  </ion-content>
</ion-view>
