<ion-view view-title="축하메세지">
  <ion-content class="padding text-center iframe-scroll">
    <h4 class="text-center">신랑 신부에게 축하의 메세지를 남겨주세요</h4>
    <div ng-if="fbComments">
      <!--<div class="fb-comments" fb-comment-box page-href="https://wedding-bea5f.firebaseapp.com/#/tab/comment" data-numposts="10" data-colorscheme="light" data-order-by="reverse_time" data-width="100%"></div>-->
      <div class="fb-comments fb_iframe_widget" data-href="https://wedding-bea5f.firebaseapp.com/#/tab/comment" data-numposts="10" data-colorsheme="light" data-width="100%" data-order-by="reverse_time" fb-xfbml-state="rendered"></div>
	</div>
  </ion-content>
</ion-view>
