<ion-view view-title="오시는길">
  <ion-content class="padding">
    <a href="../img/map2.jpg" target="_blank"><img src="../img/map2.jpg" width="100%"></a>
    <div class="text-center"><a href="http://naver.me/5qibT4GQ" class="button button-calm" target="_blank">
        네이버 지도보기
      </a></div>
    <div class="card">
      <div class="item item-divider">
        지하철
      </div>
      <div class="item item-text-wrap">
        2호선 낙성대역(4번출구) → GS주유소 → [장블랑제리]제과점 앞에서 마을버스 [관악-02번] 승차 → 호암교수회관 하차(5분거리)<br/>
        * 마을버스[관악-02]는 2~3분 간격으로 운행됩니다.<br/>
        * 마을버스 운행 시간 (낙성대역 출발 기준) - 첫차 06:00 / 막차 00:15
      </div>
      <div class="item item-divider">
      버스
    </div>
      <div class="item item-text-wrap">
        461, 641, 643, 5413, 5424, 5520, 5524, 5528 이용 낙성대하차 → GS주유소 → [장블랑제리]제과점 앞에서 마을버스 02번 승차
        → 호암교수회관 하차(5분거리)
      </div>
      <div class="item item-divider">
        승용차
      </div>
      <div class="item item-text-wrap">
        4남부순환도로에서 낙성대(이정표:서울대후문) 방면으로 좌.우회전 하여 1.5km 직진하여 좌측 위치<br/>
        내비게이션 이용시 입력주소 : 서울시 관악구 낙성대동(구주소 : 봉천동) 239-1
      </div>
      <div class="item item-divider">
        김천에서 오시는 길
      </div>
      <div class="item item-text-wrap">
        2016년 10월 15일 (예식 당일) 오전 11시에<br/>
        직지천 고수부지(평화동)에서 전세버스가 출발합니다.
      </div>
      <div class="item item-divider">
        김천 피로연
      </div>
      <div class="item item-text-wrap">
        10월 7일 금요일 오후 6시, 컨벤션웨딩 2층 크리스탈홀<br/>
        내비게이션 입력 주소 : 김천시 대항면 운수리 38-1
      </div>
    </div>
    <div class="text-center">
      &copy;2016 <a href="http://witinweb.com/" target="_blank">WitInWeb</a> All rights reserved.
    </div>
  </ion-content>
</ion-view>
