<ion-view view-title="10.15 우리결혼해요">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body text-center main-image">
        <p><img src="./img/main.jpg" /></p>
      </div>
    </div>
    <div class="list card" ng-repeat="image in images">
      <div class="item item-image">
        <img ng-src="{{image.url}}" ng-alt="{{image.title}}">
      </div>
      <!--a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        {{image.title}}
      </a-->
    </div>
    <a class="button button-full button-positive" href="/#/tab/location">오시는길</a>
  </ion-content>
</ion-view>
