<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Story Tab -->
  <ion-tab title="갤러리" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/story">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Gallery Tab
  <ion-tab title="Gallery" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/gallery">
    <ion-nav-view name="tab-gallery"></ion-nav-view>
  </ion-tab>
  -->
  <!-- Comment Tab -->
  <ion-tab title="축하메세지" icon-off="ion-reply" icon-on="ion-reply" href="#/tab/comment">
    <ion-nav-view name="tab-comment"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="오시는길" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>


</ion-tabs>
