/* Empty. Add your own CSS if you like */
.bar.bar-positive {
    background-color: #94ad05!important;
}
.main-image img { width: 100%; }
.iframe-scroll{
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
}
